.logSignForm {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  gap: 30px;
  width: 320px;
}

.logSignErrorSpan {
  color: tomato;
  font-size: 12px;
}

.loginSignButton{
  padding: 15px 25px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  align-self: start;

  &:disabled{
    background-color: var(--pale-gray-color);
  }
}

.logSignInputContainer{
  position: relative;

  svg {
    position: absolute;
    top: 9px;
  }
}

.logSignInput {
  padding: 10px 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
}

.signUpLabel{
  cursor: pointer;
  display: flex;
  align-items: center;

  svg{
    color: var(--main-blue-color);
    font-size: 25px;
    margin-right: 13px;
  }

  span{
    font-size: 13px;
    color: var(--dark-gray-color);
  }

  input{
    display: none;
  }
}

.signUpButtonContainer{
  display: flex;
  justify-content: space-between;

  div{
    margin: 13px 0;
    position: relative;

    &:hover > button{
      display: block;
      cursor: pointer;
    }

    img{
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 13px;
      max-width: 100px;
      border: 3px solid #d7d7d7;
    }

    button{
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      width: 30px;

      svg{
        color: #d7d7d7;
        font-size: 30px;
      }
    }
  }
}