.navList{
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 70px;
  width: 300px;

  li {
    cursor: pointer;
    line-height: 21px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;

    a {
      color: var(--dark-gray-color);
    }

    &:hover {
      border-bottom: 2px solid var(--main-blue-color);

      a {
        color: var(--main-blue-color);
      }
    }
  }

  @media screen and (max-width: 770px){
    display: none;
  }
}

.navHeader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 2px 7px 8px -5px rgba(0,0,0, 0.13);

  a {
    text-decoration: none;
  }

  p {
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: var(--main-black-color);
  }

  @media screen and (max-width: 770px){
    height: 70px;
  }
}

.navLogo{
  display: flex;
  align-items: center;

  p{
    color: var(--main-blue-color);
    margin-left: 13px;
  }
}


.navProfile{
  position: relative;

  button {
    display: flex;
    align-items: center;
    width: 130px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--main-black-color);

    span{
      margin: 0 13px 0 10px;
      text-align: start;
    }

    svg {
      font-size: 18px;
    }
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    object-fit: cover;
  }
}

.defaultImg{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: peachpuff;
  border-radius: 3px;

  p{
    font-weight: bold;
    color: darkblue;
  }
}

.navDropDown{
  display: flex;
  width: 185px;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
  list-style: none;
  padding: 15px 13px;
  background-color: white;

  border: 1px solid #E0E0E0;
  border-radius: 12px;
  position: absolute;
  z-index: 99;
  right: 1px;
  top: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  li {
    cursor: pointer;
    border-radius: 13px;

    a, button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 11px 13px;
      line-height: 16px;
      letter-spacing: -0.035em;
      color: var(--gray-second-color);
      border-radius: 10px;
    }

    button {
      color: tomato;
      width: 100%;
    }

    span {
      font-size: 16px;
    }

    svg {
      margin-right: 13px;
      font-size: 20px;
    }

    &:hover {
      background-color: var(--background-gray-color);
    }
  }
}

.navAuth{
  background-color: darkgreen;
  border-radius: 3px;

  a {
    display: block;
    color: white;
    padding: 13px;
  }

  &:hover {
    transform: scale(1.013);
  }
}
