.authMain{
  display: flex;
  justify-content: center;
  margin: 130px 0;
}

.authContainer{
  padding: 60px 100px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  gap: 80px;
}

.authButtonContainer{
  display: flex;
  align-items: flex-start;

  button {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
}

.authImgContainer{
  width: 50%;
  height: 100%;
  span{
    width: 100px;
  }
}

.authActiveButton{
  background-color: var(--main-blue-color);
  color: white;
}

.authPassiveButton{
  background-color: var(--background-gray-color);
  color: black;
}