.searchingInMyProfileContainer{
  background-color: white;
  border-radius: 13px;
  padding: 25px 0;
  max-height: 166px;
  position: sticky;
  top: 95px;

  div{
    height: 27px;
    width: 3px;
    background-color: var(--main-blue-color);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    left: 0;
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;

    li{
      button{
        border: none;
        border-left: 3px solid transparent;
        padding: 5px 20px;
        color: var(--dark-gray-color);
        background-color: transparent;
        width: 100%;
        text-align: start;
        font-size: 15px;
      }

      &:hover{
        button{
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 1110px) {
    padding: 0;

    div{
      display: none;
    }

    ul{
      flex-direction: row;
      justify-content: space-between;
      padding: 0 30px;

      li{
        button{
          border-top: 3px solid transparent;
          padding: 15px 0;
          border-left: none;
          color: var(--dark-gray-color);
        }
        &:hover{
          button{
            cursor: pointer;
            border-top: 3px solid var(--main-blue-color);
          }
        }
      }
    }
  }
}