.line{
  width: 100%;
  height: 1px;
  background-color: var(--background-gray-color);
  margin: 10px 0;
}

.defaultImg{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: peachpuff;
  border-radius: 3px;

  p{
    font-weight: bold;
    color: darkblue;
  }
}

.whoToFollowContainer{
  background-color: white;
  border-radius: 13px;
  padding: 13px 20px;
  max-height: 450px;

  h4 {
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: var(--gray-second-color);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--background-gray-color);
  }

  p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.035em;
    color: var(--dark-gray-color);
    margin: 20px 0;
  }

  @media screen and (max-width: 1110px) {
    display: none;
  }
}

.scrollableDiv{
  height: 400px;
  width: 100%;
  overflow:auto;
  overscroll-behavior: contain;
}

.scrollableContent{
  height: 400px;
  overflow:auto;
  overscroll-behavior: contain;
}

.whoToFollowProfileProfileContainer{
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;

  button{
    border: none;
    border-radius: 5px;
    padding: 7px 13px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: white;
    background-color: var(--main-blue-color);
    cursor: pointer;
  }
}

.whoToFollowProfileImgContainer{
  display: flex;
  img{
    margin-right: 13px;
  }
}

.whoToFollowProfileImg{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.whoToFollowProfileInfo{

  h3{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.035em;
  }

  span{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.035em;
    color: var(--pale-gray-color);
  }
}

.whoToFollowProfileBanner{
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  span{
    width: 100%;
    max-height: 80px;
    border-radius: 8px;
    object-fit: cover;
  }
}